Let's print and display a simple number triangle

In [ ]:
n = 5  # number of rows

for i in range(1, n + 1):  # iterates over rows 1, 2, 3, ..., n
    for j in range(1, i + 1):  # iterates over rows 1, 2, 3, ..., i
        print(j, end = ' ')  # end the print statement with a space instead of a new line
    print()  # new line

What will the code below print?

In [ ]:
n = 5

for i in range(1, n + 1):  # 1, 2, 3, 4, 5
    for j in range(n - i): print(' ', end = '')  # range(3) 0, 1, 2
    for k in range(2 * i - 1): print('#', end = '')  # range(1) 0, 1 2
    print()