Loops can be nested if you want to perform an operation repeatedly within another operation that is also repeating itself. Let's try to make a multiplication table using some nested `while` loops.

In [ ]:
rows = 6
columns = 6

i = 1
while i <= rows:
    j = 1
    while j <= columns:
        print(str(i * j), end = ' ')  # setting the end parameter this way introduces a space at the end instead of a new line
        j += 1
    print()  # will print nothing but introduce a new line
    i += 1

1 2 3 4 5 6
2 4 6 8 10 12
3 6 9 12 15 18
4 8 12 16 20 24
5 10 15 20 25 30
6 12 18 24 30 36

The same can be achieved with a nested `for` loop

In [ ]:
rows = 6
columns = 6

for i in range(1, rows + 1):
    for j in range(1, columns + 1):
        print(str(i * j), end = ' ')  # setting the end parameter this way introduces a space at the end instead of a new line
    print()  # will print nothing but introduce a new line

1 2 3 4 5 6
2 4 6 8 10 12
3 6 9 12 15 18
4 8 12 16 20 24
5 10 15 20 25 30
6 12 18 24 30 36